<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>My Blog List</title></head>
<body>
<p>{% extends "blog/base.html" %}
{% block content %}
{% for blog in blog_list %}<p/>
<h2><a href="/blog/detail/{{ blog.id }}/True">{{ blog.title}}</a></h2>
<ul>
<div>Created: {{ blog.created }}</div>
<div>Last updated: {{ blog.updated }}</div>
<div>{{ blog.body|linebreaks }}</div>
</ul>
{% endfor %}
{% endblock %}
</body>
</html>
